    <form action="/login" method="POST" style="width:450px; margin:auto" class="needs-validation" novalidate>
      <div class="my-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        <div class="invalid-feedback">Please fill out Username</div>
      </div>
     
      <div class="my-2">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
        <div class="invalid-feedback">Please fill out Password</div>
    </div> 
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
